@page "/hub"
@using ChatApp.Application.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApp.ChatServer.Client.Components
@inject IConfiguration Configuration
@inject NavigationManager NavManager
@inject ChatHubService ChatHubService
@inject AppStateService AppState
@implements IAsyncDisposable
@inject ILogger<BlazorHub> _logger
@if(isLoading == false)
{
<div class="main-layout">
    <ContactsComponent 
        OnSearchRequested="HandleGlobalSearch"
        OnContactInvited="HandleContactInvite"
        OnContactSelected="HandlePrivateChatLoad"
        OnInviteAction="@(args => HandleContactStatus(args.InviteId, args.Status))"
        SidebarItem="MixedSidebarItems"
        UsersList="foundUsers"
        InvitesList="receivedInvites"
        IsSearching="isSearchingGlobal"
        isPending="isPending"
        />
       
    <main class="chat-content">
        @if (!string.IsNullOrEmpty(notification))
        {
            <div class="notification-toast">
                <div>@notification</div>
            </div>
        }
        @if (AppState.CurrentChat != null && AppState.CurrentContact != null)
        {
   
        <ChatComponent
            OnSendMessage="HandleSendMessage"
            OnDeleteContact="HandleContactDelete"
            Messages="receivedMessage"
            IsLocked="lockChat"
            IsArchive="isArchive"
        />
        }
    </main>
</div>
}
@code {
    private string? notification = string.Empty;
    UserDTO user = new UserDTO();
    private List<MessageDTO> receivedMessage = new List<MessageDTO>();
    private List<ContactDTO> receivedContact = new List<ContactDTO>();
    private List<InviteDTO> receivedInvites = new List<InviteDTO>();
    private List<ChatDTO> receivedChats = new List<ChatDTO>();
    private List<UserDTO> foundUsers = new List<UserDTO>();
    private List<ISidebarItem> MixedSidebarItems = new List<ISidebarItem>();
    private MessageDTO messageModel = new MessageDTO();
    private bool isSearchingGlobal = false;
    private bool isPending;
    private bool lockChat = true;
    private bool isArchive = false;
    private bool firstLoading = true;
    bool isLoading = true;
    private Guid ChatId;
    protected override async Task OnInitializedAsync()
    {
        if (AppState.CurrentUser == null)
        {
            NavManager.NavigateTo("/");
            return;
        }
        ;
        user = AppState.CurrentUser;
        notification = AppState.Message;
        if (!string.IsNullOrEmpty(notification))
        {
            AppState.Message = null;
            _ = ShowNotification(notification);
        };

        ChatHubService.OnAppReload += HandleUnifiedReload;
        ChatHubService.OnMessageReceived += HandleReceiveMessage;
        ChatHubService.InviteStatusMessage += OnInviteStatusReceived;
        ChatHubService.OnChatLoad += HandlePrivateChatLoad;
        var StartHub = ChatHubService.StartAsync();
        var DataReload = HandleDataReload(true);
        try
        {
            await Task.WhenAll(StartHub, DataReload);
            isLoading = false;
        }
        catch (Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    private async Task OnInviteStatusReceived(string status,Guid contactId)
    {
        var chatTask = ChatHubService.GetChatInformation(contactId);
        var notifyTask = ShowNotification(status);
        await Task.WhenAll(chatTask, notifyTask);
    }
    private async Task HandleUnifiedReload(ReloadTarget target)
    {
        await InvokeAsync(async () =>
     {
         switch (target)
         {
             case ReloadTarget.Sidebar:
                 await HandleSidebarLoad(true);
                 break;
             case ReloadTarget.Invite:
                 await HandleInviteLoad(true);
                 break;
             case ReloadTarget.Global:
                 await HandleDataReload(true);
                 break;

         }
         StateHasChanged();
     });
    }
    private async Task HandleGlobalSearch(string query)
    {
        isSearchingGlobal = true;
        foundUsers = await ChatHubService.GetUsersToInviteAsync(query);
        isSearchingGlobal = false;
        StateHasChanged();
    }
    private async Task ShowNotification(string message, int durationInSeconds = 5)
    {
        notification = message;
        await InvokeAsync(StateHasChanged); 

        await Task.Delay(durationInSeconds * 1000); 

        notification = string.Empty;
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleDataReload(bool reload)
    {
        if (reload)
        {
            await HandleInviteLoad(reload);
            await HandleSidebarLoad(reload);
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task HandleInviteLoad(bool reload)
    {
        if (true)
        {
            receivedInvites = await ChatHubService.GetInvitesAsync();
            isPending = false;
            await InvokeAsync(StateHasChanged);
            _logger.LogInformation($"Invite reload triggered for user {AppState.CurrentUser.Username}");
        }
    }
    private async Task HandleSidebarLoad(bool reload)
    {
        try
        {
            var contactsTask = ChatHubService.GetContactsAsync();
            var chatsTask = ChatHubService.GetChatList();

            await Task.WhenAll(contactsTask, chatsTask);

            receivedContact = await contactsTask;
            receivedChats = await chatsTask;

            isPending = false;

        
            MixedSidebarItems = receivedContact
                .Cast<ISidebarItem>()
                .Concat(receivedChats.Cast<ISidebarItem>())
                .ToList();

            _logger.LogInformation($"Sidebar reloaded. Items count: {MixedSidebarItems.Count}");
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Błąd podczas odświeżania Sidebaru");
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task HandleContactInvite(Guid contactId)
    {
        await ChatHubService.SendInviteAsync(contactId);
        foundUsers.RemoveAll(u => u.UserID == contactId);
        isSearchingGlobal = false;
    }
    private async Task HandleContactDelete(Guid contactId)
    {
        try
        {
            await ChatHubService.DeleteContactAsync(contactId,AppState.CurrentChat.ChatID);

        }
        catch (Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    private async Task HandleContactStatus(Guid InviteId,bool Status)
    {
        try
        {
            await ChatHubService.SendInviteActionAsync(InviteId, Status);
        }
        catch (Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    private void HandleReceiveMessage(MessageDTO dto)
    {
        receivedMessage.Add(dto);
        InvokeAsync(StateHasChanged);
    }
    private async Task HandleSendMessage(string content)
    {
        messageModel.Content = content;
        messageModel.SenderUsername = user.Username;
        messageModel.SenderID = user.UserID;
        messageModel.ChatID = AppState.CurrentChat.ChatID;
        try
        {
            await ChatHubService.SendMessageAsync(messageModel);
        }
        catch(Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    // private async Task HandleDateLoad(Guid SideBarElementId,bool load)
    // {
    //     if (load)
    //     {
    //         var chatTask = ChatHubService.GetChatInformation(SideBarElementId);
    //         var contactTask = ChatHubService.GetCurrentContact(SideBarElementId);
    //         await Task.WhenAll(chatTask, contactTask);
    //         var chat = await chatTask;
    //         var contact = await contactTask;
    //         if (chat == null && contact == null)
    //         {
    //             _logger.LogError("Chat or Contact could not be loaded for ID: {Id}", SideBarElementId);
    //             return;
    //         }

    //         var history = await ChatHubService.GetPrivateHistory(SideBarElementId, chat.ChatID);
    //         AppState.CurrentChat = chat;
    //         AppState.CurrentContact = contact;
    //         receivedMessage = new List<MessageDTO>();
    //         receivedMessage = history;
    //         isArchive = chat.IsArchive;
    //         lockChat = chat.IsArchive;
    //         firstLoading = false;
    //     }

    // }
    private async Task HandlePrivateChatLoad(Guid SideBarElementId)
    {
        // if (SideBarElementId != null && (AppState.CurrentChat.ChatID == SideBarElementId || AppState.CurrentContact.ContactUserID == SideBarElementId))
        // {
        //     _logger.LogInformation($"[ANTI-SPAM] User: {AppState.CurrentUser.Username}, With ID: {AppState.CurrentUser.Username} tried to load already loaded chat!");
        //     return;
        // }
        _logger.LogInformation($"Loading chat for contact: {SideBarElementId}");

        try
        {
            receivedMessage = new List<MessageDTO>();
            var chatTask = ChatHubService.GetChatInformation(SideBarElementId);
            var contactTask = ChatHubService.GetCurrentContact(SideBarElementId);
            await Task.WhenAll(chatTask, contactTask);
            var chat = await chatTask;
            var contact = await contactTask;
            if (chat == null && contact == null)
            {
                _logger.LogError("Chat or Contact could not be loaded for ID: {Id}", SideBarElementId);
                return;
            }

            var history = await ChatHubService.GetPrivateHistory(SideBarElementId, chat.ChatID);
            AppState.CurrentChat = chat;
            AppState.CurrentContact = contact;
            receivedMessage = history;
            isArchive = chat.IsArchive;
            lockChat = chat.IsArchive;
            firstLoading = false;
            _logger.LogInformation("Chat archive status: {IsArchive}", isArchive);

        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error when trying to load chat");
            _ = ShowNotification("Błąd podczas ładowania czatu.");
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }
    public async ValueTask DisposeAsync()
    {
        ChatHubService.OnMessageReceived -= HandleReceiveMessage;
        ChatHubService.InviteStatusMessage -= OnInviteStatusReceived;
        ChatHubService.OnAppReload -= HandleUnifiedReload;
        ChatHubService.OnChatLoad -= HandlePrivateChatLoad;
    }
}