@page "/hub"
@using ChatApp.Application
@using ChatApp.Application.DTO.Chats
@using ChatApp.Domain.Enums
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApp.ChatServer.Client.Components
@inject IConfiguration Configuration
@inject NavigationManager NavManager
@inject ChatHubService ChatHubService
@inject AppStateService AppState
@inject ChatSettingsService SettingsService
@implements IAsyncDisposable
@inject ILogger<BlazorHub> _logger

@if (_isLoading == false)
{
    <div class="toast-container">
        @if (!string.IsNullOrEmpty(_notification))
        {
            <div class="notification-toast">
                <div>@_notification</div>
            </div>
        }
    </div>
    <main class="main-layout">
        <SidebarComponent 
            OnSearchRequested="HandleGlobalSearch"
            OnContactInvited="HandleContactInvite"
            OnContactSelected="HandleChatLoadAsync"
            OnProfileOpen="HandleOpenProfile"
            OnInviteAction="@(args => HandleContactStatus(args.InviteId, args.Status))"
            SidebarItem="_sidebarItems"
            UsersList="_foundUsers"
            InvitesList="_receivedInvites"
            IsSearching="_isSearchingGlobal"
            isPending="_isPending" />
       
        @if (AppState.CurrentChat != null)
        {
            <ChatComponent 
                Messages="_receivedMessages"
                IsLocked="_isChatLocked"
                IsArchive="_isChatArchived"
                />
        }
        @if(_isProfileOpen)
        {
            <ImageComponent
                AvatarUrl="@AppState.CurrentUser.AvatarUrl"
                Name="@AppState.CurrentUser.Username"
                LabelRole="Użytkownik"
                IsGroup="false"/>
        }
    </main>
}

@code {
    #region Private Fields
    private CancellationTokenSource? _chatLoadingCts;
    private string? _notification = string.Empty;
    private UserDTO _currentUser = new UserDTO();
    private List<MessageDTO> _receivedMessages = new List<MessageDTO>();
    private List<InviteDTO> _receivedInvites = new List<InviteDTO>();
    private List<UserDTO> _foundUsers = new List<UserDTO>();
    private List<UserChatDTO> _sidebarItems = new List<UserChatDTO>();
    private bool _isSearchingGlobal = false;
    private bool _isPending;
    private bool _isChatLocked = true;
    private bool _isChatArchived = false;
    private bool _isLoading = true;
    private bool _isProfileOpen = false;

    #endregion

    protected override async Task OnInitializedAsync()
    {
        if (AppState.CurrentUser == null)
        {
            NavManager.NavigateTo("/");
            return;
        }

        _currentUser = AppState.CurrentUser;
        _notification = AppState.Message;

        if (!string.IsNullOrEmpty(_notification))
        {
            AppState.Message = null;
            _ = ShowNotificationAsync(_notification);
        }

        try
        {
            await ChatHubService.StartAsync();
            SubscribeToEvent();
            await HandleDataReloadAsync(true);
            _isLoading = false;
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during initialization");
            _ = ShowNotificationAsync($"{ex.Message}");
            AppState.CurrentUser = null;
            NavManager.NavigateTo("/");
            return;
        }
    }
    private void SubscribeToEvent()
    {
        ChatHubService.OnAppReload += HandleUnifiedReloadAsync;
        ChatHubService.OnMessageReceived += HandleReceiveMessageAsync;
        ChatHubService.InviteStatusMessage += HandleInviteStatusReceivedAsync;
        ChatHubService.OnChatLoad += HandleChatLoadAsync;
        ChatHubService.OnUserInChatReload += HandleUserOnGroupLoadAsync;
        ChatHubService.OnChatNameChanged += HandleChatNameReloadAsync;
        ChatHubService.OnLastMessageChanged += HandleSidebarMessageReloadAsync;
        ChatHubService.OnAvatarReload += HandleAvatarReloadAsync;
        ChatHubService.OnGroupAvatarReload += HandleGroupAvatarReloadAsync;
        //ChatState
        SettingsService.OnChatNameChangeRequested += HandleChangeChatNameAsync;
        SettingsService.OnContactDeleteRequested += HandleContactDelete;
        SettingsService.OnCreateGroupChatRequested += HandleCreateGroupChat;
        SettingsService.OnContactLoadRequested +=HandleContactLoad;
        SettingsService.OnChatLeaveRequested += HandleChatLeave;
        SettingsService.OnChatDeleteRequested += HandleChatDelete;

    }
    private void UnSubscribeToEvent()
    {
        ChatHubService.OnAppReload -= HandleUnifiedReloadAsync;
        ChatHubService.OnMessageReceived -= HandleReceiveMessageAsync;
        ChatHubService.InviteStatusMessage -= HandleInviteStatusReceivedAsync;
        ChatHubService.OnChatLoad -= HandleChatLoadAsync;
        ChatHubService.OnUserInChatReload -= HandleUserOnGroupLoadAsync;
        ChatHubService.OnChatNameChanged -= HandleChatNameReloadAsync;
        ChatHubService.OnLastMessageChanged -= HandleSidebarMessageReloadAsync;
        ChatHubService.OnAvatarReload -= HandleAvatarReloadAsync;
        ChatHubService.OnGroupAvatarReload -= HandleGroupAvatarReloadAsync;
        //ChatState
        SettingsService.OnChatNameChangeRequested -= HandleChangeChatNameAsync;
        SettingsService.OnContactDeleteRequested -= HandleContactDelete;
        SettingsService.OnCreateGroupChatRequested -= HandleCreateGroupChat;
        SettingsService.OnContactLoadRequested -= HandleContactLoad;
        SettingsService.OnChatLeaveRequested -= HandleChatLeave;
        SettingsService.OnChatDeleteRequested -= HandleChatDelete;

    }
    private async Task HandleOpenProfile(bool open)
    {
        AppState.CurrentChat = null;
        _isProfileOpen = open;
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleInviteStatusReceivedAsync(string status, Guid contactId)
    {
        CancellationToken token = default;
        var chatTask = ChatHubService.GetChatDetailsAsync(contactId, token);
        var notifyTask = ShowNotificationAsync(status);
        await Task.WhenAll(chatTask, notifyTask);
    }
    private async Task HandleUnifiedReloadAsync(ReloadTarget target)
    {
        await InvokeAsync(async () =>
        {
            switch (target)
            {
                case ReloadTarget.Sidebar:
                    await HandleSidebarLoadAsync(true);
                    break;
                case ReloadTarget.Invite:
                    await HandleInviteLoadAsync(true);
                    break;
                case ReloadTarget.Global:
                    await HandleDataReloadAsync(true);
                    break;
                case ReloadTarget.Chat:
                    await HandleChatClose(true);
                    break;
            }
            StateHasChanged();
        });
    }
    private async Task HandleGlobalSearch(string query)
    {
        _isSearchingGlobal = true;
        _foundUsers = await ChatHubService.GetUsersToInviteAsync(query);
        _isSearchingGlobal = false;
        StateHasChanged();
    }
    private async Task ShowNotificationAsync(string message, int durationInSeconds = 5)
    {
        _notification = message;
        await InvokeAsync(StateHasChanged); 

        await Task.Delay(durationInSeconds * 1000); 

        _notification = string.Empty;
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleDataReloadAsync(bool reload)
    {
        if (reload)
        {
            await HandleInviteLoadAsync(reload);
            await HandleSidebarLoadAsync(reload);
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task HandleInviteLoadAsync(bool reload)
    {
        _receivedInvites = await ChatHubService.GetUserInvitesAsync();
        _isPending = false;
        await InvokeAsync(StateHasChanged);
        _logger.LogInformation("Invite reload triggered for user {Username}", _currentUser.Username);
    }
    private async Task HandleSidebarLoadAsync(bool reload)
    {
        try
        {
            _sidebarItems = await ChatHubService.GetSidebarItemsAsync();
            _logger.LogInformation("Sidebar reloaded. Items count: {Count}", _sidebarItems.Count);
            _isPending = false;
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during sidebar reload");
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task HandleGroupAvatarReloadAsync(string newAvatarUrl, Guid chatId)
    {
        var chatToUpdate = _sidebarItems.FirstOrDefault(sb => sb.Identity.ChatID == chatId);
        if (chatToUpdate != null)
        {
            chatToUpdate.Identity.AvatarUrl = newAvatarUrl;
        }
        if (AppState.CurrentChat != null && AppState.CurrentChat.Identity.ChatID == chatId)
        {
            AppState.CurrentChat.Identity.AvatarUrl = newAvatarUrl;
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleAvatarReloadAsync(string newAvatarUrl,Guid userId)
    {
        AppState.CurrentUser.AvatarUrl = newAvatarUrl;
        var userInChat = SettingsService.UsersInChat.FirstOrDefault(u => u.UserID == userId);
        if (userInChat != null)
        {
            userInChat.AvatarUrl = newAvatarUrl;
        }
        if(AppState.CurrentUser.UserID == userId)
        {
            AppState.CurrentUser.AvatarUrl = newAvatarUrl;
        }

        if (_sidebarItems != null && _sidebarItems.Any())
        {
            var item = _sidebarItems.FirstOrDefault(sb => !sb.Identity.IsGroup && sb.Identity.OtherUserId == userId);
            if (item != null)
            {
                item.Identity.AvatarUrl = newAvatarUrl;
            }
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleChatNameReloadAsync(Guid chatId, string newChatName)
    {
        var chat = _sidebarItems.FirstOrDefault(c => c.Identity.ChatID == chatId);
        if (chat != null)
        {
            chat.Identity.ChatName = newChatName;
        }
        if(AppState.CurrentChat != null && AppState.CurrentChat.Identity.ChatID == chatId)
        {
            AppState.CurrentChat.Identity.ChatName = newChatName;
        }
         await InvokeAsync(StateHasChanged);

    }
    private async Task HandleContactInvite(Guid contactId)
    {
        await ChatHubService.SendContactInviteAsync(contactId);
        _foundUsers.RemoveAll(u => u.UserID == contactId);
        _isSearchingGlobal = false;
    }
    private async Task HandleContactDelete()
    {
        try
        {
            if (AppState.CurrentChat != null)
            {
                await ChatHubService.RemoveContactAsync(AppState.CurrentChat.Identity.ChatID);
            }
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during contact deletion");
            _ = ShowNotificationAsync($"{ex.Message}");
        }
    }
    private async Task HandleChatClose(bool close)
    {
        AppState.CurrentChat = null;
    }
    private async Task HandleChangeChatNameAsync(string chatName)
    {
        await ChatHubService.ChangeChatNameAsync(AppState.CurrentChat.Identity.ChatID, chatName);
    }
    private async Task HandleChatLeave()
    {
        try
        {
            if (AppState.CurrentChat != null)
            {
                await ChatHubService.LeaveChatGroupAsync(AppState.CurrentChat.Identity.ChatID);
            }
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during leaving chat group");
            _ = ShowNotificationAsync($"{ex.Message}");
        }
    }
    private async Task HandleContactStatus(Guid inviteId, bool status)
    {
        try
        {
            await ChatHubService.HandleInviteActionAsync(inviteId, status);
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during contact status update");
            _ = ShowNotificationAsync($"{ex.Message}");
        }
    }
    private async Task HandleContactLoad()
    {
        try
        {
            SettingsService.IsSettingsOpen = true;
            SettingsService.ReceivedContacts = await ChatHubService.GetContactListAsync();
            _logger.LogInformation("Contacts loaded");
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during contacts loading");
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task HandleReceiveMessageAsync(MessageDTO dto)
    {
        bool isMessageForCurrentChat = AppState.CurrentChat != null && dto.ChatID == AppState.CurrentChat.Identity.ChatID;
        if (isMessageForCurrentChat)
        {
            if (_receivedMessages.Any(m => m.MessageID == dto.MessageID))
            {
                return;
            }

            _receivedMessages.Add(dto);
            await InvokeAsync(StateHasChanged);

            if (dto.SenderID != _currentUser.UserID)
            {
                try
                {
                    _ = Task.Run(async () =>
           {
               try
               {
                   await ChatHubService.MarkMessageAsReadAsync(dto.ChatID, dto.MessageID);
               }
               catch (Exception ex)
               {
                   _logger.LogWarning(ex, "Failed to mark as read");
               }
           });
                }
                catch (Exception ex)
                {
                    _logger.LogWarning(ex, "Failed to mark message as read for ChatId: {ChatId}, MessageId: {MessageId}", dto.ChatID, dto.MessageID);
                }
            }
        }
        else
        {
            if (dto.SenderID != _currentUser.UserID)
            {
                await HandleCounterUpdateAsync(dto.ChatID, false);
            }
        }
    }
    private async Task HandleSidebarMessageReloadAsync(Guid chatId, string sender,string content)
    {
        var itemsToUpdate = _sidebarItems.FirstOrDefault(sb => sb.Identity.ChatID == chatId);
        if (itemsToUpdate != null)
        {
            itemsToUpdate.LastMessage.LastMessageContent = content;
            itemsToUpdate.LastMessage.LastMessageSender = sender;
        }

        await InvokeAsync(StateHasChanged);

    }
    private async Task HandleCounterUpdateAsync(Guid chatId, bool clean)
    {
        var index = _sidebarItems.FindIndex(sb => sb.Identity.ChatID == chatId);

        if (index != -1)
        {
            if (clean)
            {
                _sidebarItems[index].State.UnreadMessageCount = 0;
                _logger.LogInformation("Counter cleared for: {ChatId}", chatId);
            }
            else
            {
                var updatedItem = _sidebarItems[index];
                updatedItem.State.UnreadMessageCount += 1;

                _sidebarItems.RemoveAt(index);
                _sidebarItems.Insert(0, updatedItem);

                _logger.LogInformation("Counter increased for: {ChatId}. Current: {Count}", chatId, updatedItem.State.UnreadMessageCount);
            }
            await InvokeAsync(StateHasChanged);
        }
        else if (!clean)
        {
            await HandleSidebarLoadAsync(true);
        }
    }
    private async Task HandleUserOnGroupLoadAsync(Guid chatId)
    {
        if (AppState.CurrentChat?.Identity.ChatID != chatId)
        {
            return;
        }
        try
        {
            SettingsService.UsersInChat = await ChatHubService.GetChatUsersAsync(chatId);
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            _logger.LogWarning(ex, "[BLAZORHUB] Failed to load users for chat {Id}", chatId);
        }
    }
    private async Task HandleChatLoadAsync(ContactSelectedArgs args)
    {
        bool isSameChat = AppState.CurrentChat?.Identity.ChatID == args.ChatId;

        if (args.Force)
        {
            if (!isSameChat && AppState.CurrentChat != null)
            {
                return;
            }
        }
        else
        {
            if (isSameChat)
            {
                return;
            }
        }
        if(_isProfileOpen)
        {
            _isProfileOpen = false;
        }

        SettingsService.IsSettingsOpen = false;
        _chatLoadingCts?.Cancel();
        _chatLoadingCts = new CancellationTokenSource();
        var token = _chatLoadingCts.Token;

        try
        {
            _receivedMessages = new List<MessageDTO>();
            _logger.LogInformation("Loading chat: {Id} (Force: {Force})", args.ChatId, args.Force);

            var chatInformation = await ChatHubService.GetChatDetailsAsync(args.ChatId, token);

            if (chatInformation == null)
            {
                _logger.LogError("[BLAZORHUB] Chat not found: {Id}", args.ChatId);
                return;
            }

            token.ThrowIfCancellationRequested();

            try
            {
                SettingsService.UsersInChat = await ChatHubService.GetChatUsersAsync(chatInformation.Identity.ChatID);
            }
            catch (Exception ex)
            {
                _logger.LogWarning(ex, "[BLAZORHUB] Failed to load users for chat {Id}", args.ChatId);
            }

            _receivedMessages = await ChatHubService.GetChatHistoryAsync(chatInformation.Identity.ChatID, token);
            token.ThrowIfCancellationRequested();

            AppState.CurrentChat = chatInformation;
            _isChatArchived = chatInformation.State.IsArchive;
            SettingsService.IsArchive = chatInformation.State.IsArchive;
            _isChatLocked = chatInformation.State.IsArchive;

            if (!chatInformation.State.IsArchive)
            {
                await ChatHubService.JoinChatGroupSignalAsync(chatInformation.Identity.ChatID);
                await ChatHubService.MarkChatMessagesAsReadAsync(chatInformation.Identity.ChatID, token);
                await HandleCounterUpdateAsync(chatInformation.Identity.ChatID, true);
            }

        }
        catch (OperationCanceledException)
        {
            _logger.LogInformation("Chat loading cancelled: {Id}", args.ChatId);
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Critical error loading chat {Id}", args.ChatId);
            _ = ShowNotificationAsync("Błąd podczas ładowania czatu.");
        }
        finally
        {
            if (!token.IsCancellationRequested)
            {
                await InvokeAsync(StateHasChanged);
            }
        }
    }
    private async Task HandleCreateGroupChat(HashSet<Guid> usersToAdd)
    {
        if (AppState.CurrentChat != null)
        {
            await ChatHubService.AddUsersToGroupChatAsync(AppState.CurrentChat.Identity.ChatID, usersToAdd);
        }
    }
    private async Task HandleChatUsersLoadAsync()
    {
        if (AppState.CurrentChat != null)
        {
            await ChatHubService.GetChatUsersAsync(AppState.CurrentChat.Identity.ChatID);
        }
    }
    private async Task HandleSidebarLock()
    {
        _isPending = !_isPending;
    }
    private async Task HandleChatDelete()
    {
        try
        {
            if (AppState.CurrentChat != null)
            {
                await ChatHubService.DeleteChatAsync(AppState.CurrentChat.Identity.ChatID);
                await ShowNotificationAsync("Czat został usunięty!");
            }
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during chat deletion");
        }
    }
    public async ValueTask DisposeAsync()
    {
        UnSubscribeToEvent();
    }
}
