@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApp.ChatServer.Client.Components
@inject IConfiguration Configuration
@inject UserDateService UserDateService
@inject NavigationManager NavManager
@inject ChatHubService ChatHubService
@implements IDisposable

<TopBarComponent user="@UserDateService.User?.Username" />
<ChatComponent Title="Czat" Messages="@receivedMessage" />

<EditForm Model="@messageModel" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Message:</label>
        <InputText @bind-Value="messageModel.Content" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Send</button>
</EditForm>

@code {
    private MessageDTO messageModel = new MessageDTO();
    private List<MessageDTO> receivedMessage = new();

    protected override async Task OnInitializedAsync()
    {
        if (UserDateService.User is null)
        {
            NavManager.NavigateTo("/");
            return;
        }

        ChatHubService.OnMessageReceived += HandleReceiveMessage;
        await ChatHubService.StartAsync();
    }

    private void HandleReceiveMessage(string user, string message)
    {
        receivedMessage.Add(new MessageDTO
        {
            SenderName = user,
            Content = message,
            SentAt = DateTime.Now
        });

        InvokeAsync(StateHasChanged);
    }

    private async Task HandleSubmit()
    {
            await ChatHubService.SendMessageAsync(messageModel);
            messageModel.Content = string.Empty;
    }


    public void Dispose()
    {
        ChatHubService.OnMessageReceived -= HandleReceiveMessage;
    }
}