@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApp.ChatServer.Client.Components
@inject IConfiguration Configuration
@inject NavigationManager NavManager
@inject ChatHubService ChatHubService
@inject AppStateService AppState
@implements IDisposable
<TopBarComponent user="@user.Username" />
@if (!string.IsNullOrEmpty(notification))
{
    <div class="notification-toast">
        <div>@notification</div>
    </div>
}
<ChatComponent Title="Czat" Messages="@receivedMessage" />

<EditForm Model="@messageModel" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Message:</label>
        <InputText @bind-Value="messageModel.Content" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Send</button>
</EditForm>

@code {
    private string? notification = string.Empty;
    UserDTO user = new UserDTO();
    private MessageDTO messageModel = new MessageDTO();
    private List<MessageDTO> receivedMessage = new();

    protected override async Task OnInitializedAsync()
    {
        if(AppState.CurrentUser == null)
        {
            NavManager.NavigateTo("/");
            return;
        };
        user = AppState.CurrentUser;

        notification = AppState.Message;
        if (!string.IsNullOrEmpty(notification))
        {
            AppState.Message = null;
            _ = ShowNotification(notification);
        }

        ChatHubService.OnMessageReceived += HandleReceiveMessage;
        await ChatHubService.StartAsync();
        try
        {
            var messages = await ChatHubService.GetHistoryAsync(15);
            receivedMessage = messages.ToList();
        }
        catch(Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    private async Task ShowNotification(string message, int durationInSeconds = 5)
    {
        notification = message;
        StateHasChanged(); 

        await Task.Delay(durationInSeconds * 1000); 

        notification = string.Empty;
        StateHasChanged(); 
    }

    private void HandleReceiveMessage(MessageDTO dto)
    {
        receivedMessage.Add(dto);
        InvokeAsync(StateHasChanged);
    }

    private async Task HandleSubmit()
    {
        messageModel.SenderUsername = user.Username;
        messageModel.SenderID = user.UserID;
        try
        {
            await ChatHubService.SendMessageAsync(messageModel);
            messageModel.Content = string.Empty;
        }
        catch(Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }


    public void Dispose()
    {
        ChatHubService.OnMessageReceived -= HandleReceiveMessage;
    }
}