@page "/hub"
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApp.ChatServer.Client.Components
@inject IConfiguration Configuration
@inject NavigationManager NavManager
@inject ChatHubService ChatHubService
@inject AppStateService AppState
@implements IDisposable
<div class="main-layout">
    <ContactsComponent 
        OnSearchRequested="HandleGlobalSearch"
         OnContactInvited="HandleContactInvite"
        InitialContacts="receivedContact"
        UsersList="foundUsers"
        IsSearching="isSearchingGlobal"
        />

    <main class="chat-content">
        <TopBarComponent user="@user.Username" />

        @if (!string.IsNullOrEmpty(notification))
        {
            <div class="notification-toast">
                <div>@notification</div>
            </div>
        }

        <div class="chat-container">
            <ChatComponent Title="Czat" Messages="@receivedMessage" />

            <div class="message-input-area">
                <EditForm Model="@messageModel" OnValidSubmit="HandleSubmit">
                    <DataAnnotationsValidator />
                    <div class="input-group">
                        <InputText @bind-Value="messageModel.Content" class="form-control" placeholder="Napisz wiadomość..." />
                        <button type="submit" class="btn-primary">Send</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </main>
</div>
@code {
    private Guid ActiveChatId;
    private string? notification = string.Empty;
    UserDTO user = new UserDTO();
    private MessageDTO messageModel = new MessageDTO();
    private List<MessageDTO> receivedMessage = new List<MessageDTO>();
    private List<ContactDTO> receivedContact = new List<ContactDTO>();
    private List<UserDTO> foundUsers = new List<UserDTO>();
    private bool isSearchingGlobal = false;

    protected override async Task OnInitializedAsync()
    {
        if(AppState.CurrentUser == null)
        {
            NavManager.NavigateTo("/");
            return;
        };
        user = AppState.CurrentUser;
        notification = AppState.Message;
        if (!string.IsNullOrEmpty(notification))
        {
            AppState.Message = null;
            _ = ShowNotification(notification);
        }

        ChatHubService.OnMessageReceived += HandleReceiveMessage;
        ChatHubService.InviteStatusMessage += (status) => _ = ShowNotification(status);
        await ChatHubService.StartAsync();
        try
        {

            receivedContact = await ChatHubService.GetContactsAsync(user.UserID);
            // var messages = await ChatHubService.GetHistoryAsync(15);
            // receivedMessage = messages.ToList();
        }
        catch(Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    private async Task HandleGlobalSearch(string query)
    {
        isSearchingGlobal = true;
        foundUsers = await ChatHubService.GetUsersToInviteAsync(user.UserID, query);
        isSearchingGlobal = false;
        StateHasChanged();
    }
    private async Task ShowNotification(string message, int durationInSeconds = 5)
    {
        notification = message;
        StateHasChanged(); 

        await Task.Delay(durationInSeconds * 1000); 

        notification = string.Empty;
        StateHasChanged(); 
    }
    private async Task HandleContactLoad(Guid contactId)
    {
        receivedContact.Clear();
        await ChatHubService.GetContactsAsync(contactId);
        
    }
    private async Task HandleContactInvite(Guid contactId)
    {
        await ChatHubService.SendInviteAsync(user.UserID,contactId);
        foundUsers.RemoveAll(u => u.UserID == contactId);
        isSearchingGlobal = false;
    }

    private void HandleReceiveMessage(MessageDTO dto)
    {
        receivedMessage.Add(dto);
        InvokeAsync(StateHasChanged);
    }

    private async Task HandleSubmit()
    {
        messageModel.SenderUsername = user.Username;
        messageModel.SenderID = user.UserID;
        try
        {
            await ChatHubService.SendMessageAsync(messageModel);
            messageModel.Content = string.Empty;
        }
        catch(Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }


    public void Dispose()
    {
        ChatHubService.OnMessageReceived -= HandleReceiveMessage;
        ChatHubService.InviteStatusMessage -= (status) => _ = ShowNotification(status);
    }
}