@page "/"
@inject IConfiguration Configuration
@inject NavigationManager NavManager
@inject UserDateService UserDateService

<EditForm Model="@userDTO" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Enter username:</label>
        <InputText @bind-Value="userDTO.Username" class="form-control" />
        <label>Enter password:</label>
        <InputText @bind-Value="userDTO.Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Login</button>
    <a href="/register" class="btn btn-primary mt-2">Register</a>
</EditForm>

@code {
    private UserDTO userDTO = new UserDTO();
    private async Task HandleSubmit()
    {
        if(userDTO.Username is not null && userDTO.Password is not null)
        {
            UserDateService.User = userDTO;
            NavManager.NavigateTo("/chat");
        }
    }
}