@page "/hub"
@using ChatApp.Application.DTO.Requests
@using ChatApp.Web.Services.Actions
@implements IAsyncDisposable
@inject ILogger<BlazorChat> _logger
@inject SidebarStateService _sidebarStateService
@inject ISidebarActionService _sidebarActionService
@inject IChatActionService _chatActionService
@inject ChatStateService _chatStateService
@inject SidebarStateService _sidebarStateService

@if (_isLoading == false)
{
    <NotificationWindow />
    <main class="main-layout">
        <Sidebar
            OnProfileOpen="HandleOpenProfile"/>
        @if (_appStateService.CurrentChat != null)
        {
            <ChatWindow @key="_appStateService.CurrentChat.Identity.ChatID"/>
        }
        @if(_appStateService.IsProfileOpen)
        {
            <ImageComponent
                AvatarUrl="@_appStateService.CurrentUser.AvatarUrl"
                Name="@_appStateService.CurrentUser.Username"
                LabelRole="Użytkownik"
                IsGroup="false"/>
            <button class="btn-secondary" @onclick="() => _appStateService.Logout()">Zamknij profil</button>
        }
    </main>
}

@code {
    #region Private Fields
    private string? _notification = string.Empty;
    private UserDTO _currentUser = new UserDTO();
    private bool _isLoading = true;

    #endregion

    protected override async Task OnInitializedAsync()
    {
        if (_appStateService.CurrentUser == null)
        {
            _navManager.NavigateTo("/");
            return;
        }
        await _chatHubService.StartAsync();

        _currentUser = _appStateService.CurrentUser;
        _notification = _appStateService.Message;

        if (!string.IsNullOrEmpty(_notification))
        {
            _appStateService.Message = null;
            _ = ShowNotificationAsync(_notification);
        }

        try
        {
            await _chatHubService.StartAsync();
            SubscribeToEvent();

            await _sidebarActionService.HandleInvitesLoadAsync();
            await _sidebarActionService.HandleChatsLoadAsync();

            //await HandleDataReloadAsync(true);
            _isLoading = false;
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error during initialization");
            _ = ShowNotificationAsync($"{ex.Message}");
            _appStateService.CurrentUser = null;
            _navManager.NavigateTo("/");
            return;
        }
    }
    private void SubscribeToEvent()
    {
        _chatActionService.OnStateChanged += HandleStateChanged;
        _chatHubService.OnAvatarReload += HandleAvatarReloadAsync;
        _chatHubService.OnGroupAvatarReload += HandleGroupAvatarReloadAsync;

    }
    private void UnSubscribeToEvent()
    {
        _chatActionService.OnStateChanged -= HandleStateChanged;
        _chatHubService.OnAvatarReload -= HandleAvatarReloadAsync;
        _chatHubService.OnGroupAvatarReload -= HandleGroupAvatarReloadAsync;

    }
    private void HandleStateChanged()
    {
        _ = InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    private async Task HandleOpenProfile(bool open)
    {
        _appStateService.CurrentChat = null;
        _appStateService.IsProfileOpen = open;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ShowNotificationAsync(string message, int durationInSeconds = 5)
    {
        _notification = message;
        await InvokeAsync(StateHasChanged); 

        await Task.Delay(durationInSeconds * 1000); 

        _notification = string.Empty;
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleGroupAvatarReloadAsync(string newAvatarUrl, Guid chatId)
    {
        var chatToUpdate = _sidebarStateService.SidebarItems.FirstOrDefault(sb => sb.Identity.ChatID == chatId);
        if (chatToUpdate != null)
        {
            chatToUpdate.Identity.AvatarUrl = newAvatarUrl;
        }
        if (_appStateService.CurrentChat != null && _appStateService.CurrentChat.Identity.ChatID == chatId)
        {
            _appStateService.CurrentChat.Identity.AvatarUrl = newAvatarUrl;
        }
        await _chatActionService.Refresh();
        await _sidebarActionService.Refresh();
    }
    private async Task HandleAvatarReloadAsync(string newAvatarUrl,Guid userId)
    {
        var currentUserId = _appStateService.CurrentUser?.UserID;
        if (currentUserId == userId)
        {
        _appStateService.CurrentUser.AvatarUrl = newAvatarUrl;
        }
        var userInChat = _chatStateService.UsersInChat.FirstOrDefault(u => u.UserID == userId);
        if (userInChat != null)
        {
            userInChat.AvatarUrl = newAvatarUrl;
        }
        if(_appStateService.CurrentUser.UserID == userId)
        {
            _appStateService.CurrentUser.AvatarUrl = newAvatarUrl;
        }

        if (_sidebarStateService.SidebarItems != null && _sidebarStateService.SidebarItems.Any())
        {
            var item = _sidebarStateService.SidebarItems.FirstOrDefault(sb => !sb.Identity.IsGroup && sb.Identity.OtherUserId == userId);
            if (item != null)
            {
                item.Identity.AvatarUrl = newAvatarUrl;
            }
        }
        await _chatActionService.Refresh();
        await _sidebarActionService.Refresh();
    }
    public async ValueTask DisposeAsync()
    {
        UnSubscribeToEvent();
    }
}
