<!DOCTYPE html>
<html lang="en">
 @using Microsoft.AspNetCore.Components.Web

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <script>
                window.setupSmartScroll = (container) => {
            if (!container) return;

            const doScroll = (isSmooth) => {
                container.scrollTo({
                    top: container.scrollHeight,
                    behavior: isSmooth ? 'smooth' : 'auto'
                });
            };

            doScroll(false);

            const observer = new MutationObserver(() => {
                doScroll(true);
                container.querySelectorAll('img:not([data-loaded])').forEach(img => {
                    img.setAttribute('data-loaded', 'true');
                    img.addEventListener('load', () => {
                        doScroll(true);
                    });
                });
            });

            observer.observe(container, { childList: true, subtree: true });
        };
        window.scrollToElement = (el) => el.scrollTop = el.scrollHeight;
    </script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
