@using ChatApp.Domain.Enums
@using System.Net.Http.Headers
@inject AppStateService AppState
@inject ImageService ImageService
@inject HttpClient _httpClient
@inject ILogger<ChatInputComponent> _logger

<div class="message-input-area @(IsArchive ? "archived-status" : "")">
    @if (!IsArchive)
    {
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Napisz wiadomość..."
                   disabled="@IsLocked"
                   @bind="_messageContent"
                   @bind:event="oninput"
                   @onkeydown="HandleKeyDownAsync" />
            <div class="avatar-upload-container">
                <InputFile id="chat-image" OnChange="OnImageSend"
                           style="display:none;" accept=".jpg,.jpeg,.png,.jfif" />
                <label for="chat-image" disabled="@_isUploading" class="user-profile-icon">
                    <p class="chat-send-icon">🖼️</p>
                </label>
            </div>
            <EmojiComponent
                OnEmojiSelect="HandleAddEmojiToInput" />
                    <button class="btn-primary"
                    disabled="@(IsLocked || string.IsNullOrWhiteSpace(_messageContent))"
                    @onclick="HandleSendMessage">
                Wyślij
            </button>
        </div>
    }
    else
    {
        <div class="archived-message">
            🔒 Czat jest zarchiwizowany. Możliwość pisania została zablokowana.
        </div>
    }
</div>

@code {

    [Parameter] public bool IsLocked { get; set; } = false;
    [Parameter] public bool IsArchive { get; set; } = false;
    private bool _isUploading = false;
    private string _tempImageUrl = string.Empty;
    private string _messageContent = string.Empty;
    private string _imageUrl = string.Empty;
    private IBrowserFile _sendedPhoto = null;
    private async Task HandleKeyDownAsync(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !IsLocked && !string.IsNullOrWhiteSpace(_messageContent))
        {
            await HandleSendMessage();
        }
    }

    public async Task OnImageSend(InputFileChangeEventArgs e)
    {
        try
        {
            _sendedPhoto = await ImageService.GetBrowserFileAsync(e);
            if (_sendedPhoto == null) return;
            _tempImageUrl = await ImageService.GetImageStringAsync(_sendedPhoto);

        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Błąd podczas przetwarzania obrazu.");
        }
        finally
        {
            StateHasChanged();
        }
    }
    private void HandleAddEmojiToInput(string emoji)
    {
        _messageContent += " " + emoji;
    }
    private async Task HandleSendMessage()
    {
        var contentToSend = _messageContent;
        if (AppState.CurrentChat == null) return;
        var chatId = AppState.CurrentChat.Identity.ChatID;
        if (string.IsNullOrWhiteSpace(contentToSend)) return;
        if (AppState.CurrentChat == null) return;

        var newMessage = new MessageDTO
        {
            Content = contentToSend,
            SenderUsername = AppState.CurrentUser.Username,
            ChatID = chatId,
            SenderID = AppState.CurrentUser.UserID,
            SentAt = DateTime.UtcNow,
            MessageID = Guid.CreateVersion7(),
            MessageType = MessageType.Text
        };

        try
        {
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", AppState.CurrentUser?.Token);
            if(_sendedPhoto != null)
            {
                byte[] fileData = await ImageService.GetFileDataAsync(_sendedPhoto);
                var imageUrl = await ImageService
                .UploadImageAsync
                (
                    fileData,
                    _sendedPhoto.Name,
                    AppState.CurrentUser.Token,
                    UploadType.ChatImage,
                    chatId
                );
                newMessage.imageUrl = imageUrl;
                _tempImageUrl = string.Empty;
                newMessage.MessageType = MessageType.Image;
            }
            var response = await _httpClient.PostAsJsonAsync("api/chat/sendMessage", newMessage);
            if (!response.IsSuccessStatusCode)
            {
                var error = await response.Content.ReadAsStringAsync();
                _logger.LogError("Failed to send message. Server returned {Status}: {Error}", response.StatusCode, error);
                _messageContent = contentToSend; 
                return;
            }

            _messageContent = string.Empty;
            await InvokeAsync(StateHasChanged);

        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error sending message");
            _messageContent = contentToSend;
            await InvokeAsync(StateHasChanged);
        }
    }
}