@inject ILogger<ChatImageComponent> Logger
@inject ImageService ImageService


 <div class="avatar-upload-container">
    <InputFile id="avatar-upload" OnChange="OnInputFileChange"
                   style="display:none;" accept=".jpg,.jpeg,.png,.jfif" />
    <label for="avatar-upload" disabled="@ImageService.isUploading" class="user-profile-icon">
        <p class="user-icon">🖼️</p>
        </label>
        </div>
@code {
    [Parameter] public EventCallback<string> OnTempFilePrepared { get; set; }

    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            await ImageService.ProcessSelectedFileAsync(e);

        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Błąd podczas przetwarzania obrazu.");
        }
        finally
        {
            StateHasChanged();
        }
    }
}
