@inject AppStateService AppStateService
@inject ChatHubService ChatHubService
@inject ILogger<ProfileComponent> Logger
<h3>ProfileComponent</h3>
<div class="profile-wrapper">
    <img src="@AppStateService.CurrentUser.AvatarUrl" alt="avatar">
    <p>>@AppStateService.CurrentUser.Username</p>
    <div class="avatar-upload-container">
        <InputFile id="avatar-upload"
                   OnChange="OnInputFileChange"
                   style="display: none;"
                   accept=".jpg,.jpeg,.png" />
        <label for="avatar-upload" class="user-profile-cion">
            <p class="user-icon">Wybierz plik</p>
        </label>
        @if (selectedFile != null)
        {
            <button class="btn-upload" @onclick="UploadStoredAvatar">
                Zapisz zmiany
            </button>
            <span class="file-name">Wybrano: @selectedFileName</span>
        }
    </div>
</div>

@code {
    private IBrowserFile? selectedFile;
    private string? selectedFileName;
    private bool isUploading = false;

    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    if (selectedFile != null)
    {
        selectedFileName = selectedFile.Name;
    }
      
    }
    public async Task UploadStoredAvatar()
    {
        if (selectedFile == null) return;
        isUploading = true;
        try
    {
        using var content = new MultipartFormDataContent();
        
     
        var fileStream = selectedFile.OpenReadStream(maxAllowedSize: 1024 * 1024 * 5);
        var streamContent = new StreamContent(fileStream);

        content.Add(streamContent, "file", selectedFile.Name);

        await ChatHubService.UpdateUserAvatarAsync(content,AppStateService.CurrentUser.Token);
        var newAvatarUrl = await ChatHubService.GetUserAvatarUrlAsync();
        AppStateService.CurrentUser.AvatarUrl = newAvatarUrl;
        await InvokeAsync(StateHasChanged);


    }
    catch (Exception ex)
    {
            throw new Exception("Nie można zaktualizować avatara", ex);
    }
    finally
    {
        isUploading = false;
    }
}
}
