@using ChatApp.Domain.Enums
@using ChatApp.Web.Components.Common
@implements IDisposable;

<div class="chat-main-wrapper @(_chatStateService.IsSettingsOpen ? "show-settings" : "")">
    @if (_dialogService.IsVisible)
    {
        <ConfirmDialog Title="@_dialogService.Title"
                       Message="@_dialogService.Message"
                       OnClose="OnDialogClose" />
    }
    <div class="chat-content">
        <Topbar />
        <div class="chat-body">
            <ImageZoomWindow/>
            <div @ref="chatContainer" class="chat-box" id="chat-window">
                <MessageContainer/>
            </div>
            <ChatInput />
        </div>
    </div>
        <ChatSettings />
</div>

@code {
    private ElementReference chatContainer;
    private Guid chatId => _appStateService.CurrentChat?.Identity.ChatID ?? Guid.Empty;
    protected override async Task OnInitializedAsync()
    {
        SubscribeToEvent();
    }
    private void SubscribeToEvent()
    {
        _chatMessageActionService.OnStateChanged += HandleStateChanged;
        _dialogService.OnStateChanged += HandleStateChanged;
        _chatStateService.OnStateChanged += HandleStateChanged;
        _chatActionService.OnStateChanged += HandleStateChanged;
        _chatSettingsActionService.OnStateChanged += HandleStateChanged;

    }
    private void UnsubscribeToEvent()
    {
        _chatMessageActionService.OnStateChanged -= HandleStateChanged;
        _dialogService.OnStateChanged -= HandleStateChanged;
        _chatStateService.OnStateChanged -= HandleStateChanged;
        _chatActionService.OnStateChanged -= HandleStateChanged;
        _chatSettingsActionService.OnStateChanged -= HandleStateChanged;
    }
    private async void HandleStateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnDialogClose(bool result)
    {
        await _dialogService.HandleClose(result);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JSRuntime.InvokeVoidAsync("setupSmartScroll", chatContainer);
            await Task.Delay(100);
            await JSRuntime.InvokeVoidAsync("scrollToElement", chatContainer);
        }
    }

    public void Dispose()
    {
        UnsubscribeToEvent();
    }
}
