@implements IDisposable
<div class="emoji-open" @onclick="@_chatStateService.ToggleEmojiMenu">😊</div>

@if(_chatStateService.IsEmojiOpen)
{
    <div class="emoji-picker-container">
    <div class="emoji-picker">
        @foreach (var emoji in _smileysList)
        {
            <button type="button"
                    class="emoji-btn"
                    @onclick="() => OnEmojiSelect.InvokeAsync(emoji)">
                @emoji
            </button>
        }
    </div>
    </div>
}

@code {
    [Parameter] public EventCallback<string>  OnEmojiSelect { get; set; }
    private static readonly List<string> _smileysList = new()
    {
        "😀", "😃", "😄", "😁", "😆", "😅", "😂", "🤣", "😊", "😇", "🙂", "🙃", "😉",
        "🥰", "😍", "🤩", "😘", "😗", "😚", "😙", "😋", "😛", "😜", "🤪", "😝", "🤑",
        "🤗", "🤭", "🤫", "🤔", "🤐", "🤨", "😐", "😑", "😶", "😏", "😒", "🙄", "😬",
        "🤥", "😌", "😔", "😪", "🤤", "😴", "😷", "🤒", "🤕", "🤢", "🤮", "🤧", "🥵"
    };
    protected override void OnInitialized()
    {
        _chatStateService.OnStateChanged += HandleStateChange;
    }
    private void HandleStateChange()
    {
        InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        _chatStateService.OnStateChanged -= HandleStateChange;
    }

}
