@using ChatApp.Web.Components.Common
@implements IDisposable
<PageTitle>@_appStateService.PageTitle</PageTitle>
@inherits LayoutComponentBase
<NotificationWindow />

@if (_appStateService.IsInitialized)
{
    @Body
}
else
{
    <div id="app-loader" class="initial-loader">
        <div class="spinner-ring"></div>
        <div id="loader-text" class="loader-text">Wystąpił problem z połaczeniem!</div>
        <div id="loader-text" class="loading-sub">Własnię to naprawiamy!</div>
        <div id="loader-text" class="loading-sub">To potrwa tylko chwilę... Chyba</div>
    </div>    
}
@code
{

    protected override async Task OnInitializedAsync()
    {
        _appStateService.OnStateChanged += HandleStateChanged;
        await _appStateService.LoadSessionAsync();
    }

    private void HandleStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _appStateService.OnStateChanged -= HandleStateChanged;
    }
}