<div class="confirm-overlay">
    <div class="confirm-window">
        <h3>@Title</h3>
        <p>@Message</p>
        <div class="confirm-actions">
            <button class="btn-confirm-yes" @onclick="() => OnClose.InvokeAsync(true)">@YesText</button>
            <button class="btn-confirm-no" @onclick="() => OnClose.InvokeAsync(false)">@NoText</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Potwierdzenie";
    [Parameter] public string Message { get; set; } = "Czy na pewno?";
    [Parameter] public string YesText { get; set; } = "Tak";
    [Parameter] public string NoText { get; set; } = "Nie";

    [Parameter] public EventCallback<bool> OnClose { get; set; }
}