@implements IDisposable;

<div class="top-bar">
    <div class="user-profile-top">
        <div class="avatar-wrapper-top">
            <img src="@_appStateService.CurrentChat.Identity.AvatarUrl" class="user-avatar" alt="Avatar" />
            <div class="status-dot online"></div>
        </div>
        <div class="user-info-text-top">
            <span class="user-name">@_appStateService.CurrentChat.Identity.ChatName</span>
        </div>
    </div>
    @if (_appStateService.CurrentChat.State.IsArchive == false)
    {
        <div class="contact-config" @onclick="_chatStateService.ToggleSettings">⚙️</div>
    }
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        _chatSettingsActionService.OnStateChanged += HandleStateChanged;

    }
    private async void HandleStateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        _chatSettingsActionService.OnStateChanged += HandleStateChanged;

    }
}